.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 1200px;
  height: 518px;
  background-image: url('../img/promo/title-back-desktop.jpg');
  background-size: auto 518px;
  background-repeat: no-repeat;
}
